{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img style="padding:10%; width:90%" src="{% static 'tree.png'%}">
    </a>
    <h1>Treekemon GO!</h1>
    <p>Your number one go-to to find the best of the best trees!</p>
  </div>
</div>
<div class="container" style="text-align: center">
  <div style="color: white">
    Welcome to Treekemon GO! In this webapp, you will be able to find champion trees all over the United States! You can see each tree location on the map, or if you want to find a specific tree, come look in our list page!
    <p></p>
  </div>
  <a class="btn btn-primary btn-lg" style="width: 80%" href="map/" role="button"></i>Map&nbsp;&nbsp;<i class="bi-map" style="color: white;"></i></a>
  <hr/>
  <a class="btn btn-primary btn-lg" style="width: 80%" href="list/" role="button">List&nbsp;&nbsp;<i class="bi-receipt" style="color: white;"></i></a>
  <hr/>
  <a class="btn btn-primary btn-lg" style="width: 80%" href="scan/" role="button">Scan&nbsp;&nbsp;<i class="bi-upc-scan" style="color: white;"></i></a>
  
</div>
{% endblock %}