{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img style="padding:10%; width:90%" src="{% static 'tree.png'%}">
    </a>
    <h1>Treekemon GO!</h1>
    <p>Your number one go-to to find the best of the best trees!</p>
  </div>
</div>
<div class="container" style="text-align: center">
  <a class="btn btn-primary btn-lg" style="width: 80%" href="#" role="button"></i>Map&nbsp;&nbsp;<i class="bi-map" style="color: white;"></i></a>
  <hr/>
  <a class="btn btn-primary btn-lg" style="width: 80%" href="list/" role="button">List&nbsp;&nbsp;<i class="bi-receipt" style="color: white;"></i></a>
  
</div>
{% endblock %}